<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
	<script src="script.js"></script>
</head>
<body ng-controller="SeguroController">
    <form>
      <fieldset>
      	<legend>Seguro Médico</legend>
      	<label for="nombre">Nombre:</label><input id="nombre" name="nombre" type="text" ng-model="seguro.nombre" /><br>
      	<label for="edad">Edad:</label><input id="edad" name="edad" type="text" ng-model="seguro.edad" /><br>
      	<label ng-show="seguro.edad<18" name="disabledEdad" id="disabledEdad">Eres menor a 18</label><br>
      	<label for="sexo">Sexo:</label><select id="sexo" name="sexo" type="checkbox" ng-model="seguro.sexo" ><option value="">--Elige opcion--</option><option value="H">Hombre</option><option value="M">Mujer</option></select><br>
      </fieldset>
      <fieldset>
      	<legend>Coberturas</legend>
      	<label for="oftalmologia">Oftalmologia:</label><input id="oftalmologia" name="oftalmologia" type="checkbox" ng-model="seguro.coberturas.oftalmologia" /><br>
      	<label for="dental">Dental:</label><input id="dental" name="dental" type="checkbox" ng-model="seguro.coberturas.dental" /><br>
      </fieldset>
      <fieldset>
      	<legend>Enfermedades</legend>
      	<label for="corazon">Corazon:</label><input id="corazon" name="corazon" type="checkbox" ng-model="seguro.enfermedades.corazon" /><br>      	
      	<label for="estomacal">Estomacal:</label><input id="estomacal" name="estomacal" type="checkbox" ng-model="seguro.enfermedades.estomacal" /><br>
      	<label for="alergia">Alergias:</label><input id="alergia" name="alergia" type="checkbox" ng-model="seguro.enfermedades.alergia" /><br>
      	<label for="nombreAlergia">Nombre de la alergia:</label><input ng-disabled="seguro.enfermedades.alergia===false" id="nombreAlergia" name="nombreAlergia" type="text" ng-model="seguro.enfermedades.nombreAlergia" /><br>
      </fieldset>
      <button ng-click="saveSeguro()">Guardar</button>
      <h1>{{count}}</h1>
      <h1>{{area}}</h1>
      <p ng-repeat="informacion in info">{{informacion.name}}</p>
</body> 
</html>