<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
	<script src="script.js"></script>
</head>
<body ng-controller="SeguroController">
	<p>{{count}}</p>
</body>
</html>